@page "/empleados/normal/form"
@page "/empleados/normal/form/{Id:int}"
@inject NavigationManager navigation

<h3>EmpleadosForm</h3>
@if (ListAreasRespuesta.Exito > 0 && ListAreasRespuesta.Data.Count > 0)
{

<EditForm Model="@trabajadores" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">

                <div class="form-group">
                    <InputText class="form-control" @bind-Value="@trabajadores.Nombres" placeholder="Nombres"></InputText>
                    <ValidationMessage For="@(()=> trabajadores.Nombres )" />
                </div>

                <div class="form-group">
                    <InputText class="form-control" @bind-Value="@trabajadores.Apellidos" placeholder="Apellido"></InputText>
                    <ValidationMessage For="@(()=> trabajadores.Apellidos )" />
                </div>

                <div class="form-group">
                    <InputText class="form-control" @bind-Value="@trabajadores.Direccion" placeholder="Direccion"></InputText>
                    <ValidationMessage For="@(()=> trabajadores.Direccion )" />
                </div>

                <div class="form-group">
                    <InputText class="form-control" @bind-Value="@trabajadores.Telefono" placeholder="Telefono"></InputText>
                    <ValidationMessage For="@(()=> trabajadores.Telefono )" />
                </div>

                <div class="form-group">
                    <InputNumber class="form-control" @bind-Value="@trabajadores.Salario" placeholder="Telefono"></InputNumber>
                    <ValidationMessage For="@(()=> trabajadores.Salario )" />
                </div>



            </div>

            <div class="col-sm-12 col-md-6" hidden="@IsShow">


                <div class="form-group">

                    @if (ListAreasRespuesta.Exito > 0)
                    {
                        <InputSelect id="area" class="form-control" @bind-Value="@trabajadores.AreasId" placeholder="Area">
                            @foreach (var item in (List<Areas>)ListAreasRespuesta.Data)
                                    {
                                <option value="@item.Id">@item.Descripcion</option>
                                    }
                        </InputSelect>
                        <ValidationMessage For="@(()=> trabajadores.AreasId )" />
                    }

                </div>


                <div class="form-group">
                    <InputDate class="form-control" @bind-Value="@trabajadores.FechaIngreso"></InputDate>
                    <ValidationMessage For="@(()=> trabajadores.FechaIngreso )" />
                </div>

                <div class="form-group">
                    <InputSelect id="area" class="form-control" @bind-Value="@trabajadores.Sexo" placeholder="Area">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </InputSelect>
                    <ValidationMessage For="@(()=> trabajadores.Sexo )" />
                </div>

                <div class="form-group">

                    @if (ListAreasRespuesta.Exito > 0)
                    {
                        <InputSelect id="area" class="form-control" @bind-Value="@trabajadores.EmpresasId" placeholder="Area">
                            @foreach (var item in (List<Empresas>)ListEmpresasRespuesta.Data)
                                    {
                                <option value="@item.Id">@item.Descripcion</option>
                                    }
                        </InputSelect>
                        <ValidationMessage For="@(()=> trabajadores.EmpresasId )" />
                    }

                </div>










            </div>

            <div class="form-group">
                <button type="submit">Guardar</button>
            </div>
        </div>

    </div>
</EditForm>


}
else
{<p>Debe Crear Más Jefes</p> <a href="/empleados/form">Jefes</a>}

@code {
    [Parameter]
    public int Id { get; set; }
    [Inject]
    public IAreas areasRepo { get; set; }

    [Inject]
    public IEmpresas empresasRepo { get; set; }

    [Inject]
    public ITrabajadores trabajadoresRepo { get; set; }

    public Respuesta<List<Areas>> ListAreasRespuesta = new Respuesta<List<Areas>>();
    public Respuesta<List<Empresas>> ListEmpresasRespuesta = new Respuesta<List<Empresas>>();
    public Respuesta<Trabajadores> oRespuesta = new Respuesta<Trabajadores>();

    Trabajadores trabajadores = new Trabajadores();
    Areas areas = new Areas();

    private bool IsShow { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await getAreasAndEmpresas();

        if (Id != 0)
        {
            oRespuesta = await trabajadoresRepo.Get("trabajadores/", Id);
            trabajadores = oRespuesta.Data;
        }
        else
        {
            if (ListAreasRespuesta.Data.Count > 0)
            {
                trabajadores.AreasId = ListAreasRespuesta.Data.FirstOrDefault().Id;
                trabajadores.Sexo = "Masculino";
                trabajadores.EmpresasId = ListEmpresasRespuesta.Data.FirstOrDefault().Id;
            }
        }

        //return base.OnInitializedAsync();
    }

    private async Task getAreasAndEmpresas()
    {
        ListAreasRespuesta = await areasRepo.GetAll("areas/empleados");
        ListEmpresasRespuesta = await empresasRepo.GetAll("empresas");
        if (Id != 0)
        {
            IsShow = true;
        }
    }
    private async Task Guardar()
    {
        if (Id != 0)
        {
            var response = await trabajadoresRepo.Update("Trabajadores/", trabajadores, Id);
            oRespuesta = response;
            navigation.NavigateTo("/empleadosnormal");
        }
        else
        {
            var response = await trabajadoresRepo.Store("trabajadores/empleados", trabajadores);
            oRespuesta = response;
            navigation.NavigateTo("/empleadosnormal");
        }
    }
}
